body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 231, 209);
}

header {
    background-color: #40140f;
    color: #ffffff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #40140f;
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #eb1d1d;
}

li.active a {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #ffffff;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0eded;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #24231f;
    text-align: left;
    padding: 12px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #eb1d1d;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 10px;
}

.skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* PORTFOLIO PAGE */


#container {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 650px;
    border: 2px solid #484848;
    background-color: rgb(220, 215, 199);
    overflow: hidden;
}

.draggable {
    position: absolute;
    cursor: move;
  }

.port {
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
}

#mobile-message {
    display: none;
}

/* HOME PAGE */

#about {
    color: #eb1d1d;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

#about-content a {
    color:#40140f;
    font-weight: bold;
    text-decoration: underline;
}

#about-content p {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#about-content a:hover {
    color: #eb1d1d;
    text-decoration: none;
}

#image-gallery {
    margin-top: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.gallery img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Graduate Student Page */

.desc p {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.content-section {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.content-section img{
    height: auto;
    border-radius: 8px;
}

.grad {
    width: 100%;
    max-width: 390px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 50px;
}

.text-content {
    flex: 1;
}

.text-content h2 {
    font-size: 1.5em;
    font-style: italic;
    color: #40140f;
}

.text-content p {
    line-height: 1.5;
}

/* Teaching Experience - Courses */

#courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.teaching-experience-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
}

.teaching-experience-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.teaching-experience-item h3 {
    margin-top: 10px;
    color: #40140f;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.teaching-experience-item h4{
    text-align: center;
    font-size: small;
    font-weight: 500;
    font-style: italic;
    color: #40140f;
}

h2{
    color:#eb1d1d;
    font-size: 1.7em;
}


.cv {
    text-align: center;
    font-style: italic;

}

@media only screen and (max-width: 767px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .content-section {
        flex-direction: column;
    }

    .grad {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-content {
        flex: none;
        max-width: 100%;
    }

    .text-content h2 {
        font-size: 1.2em;
    }

    .teaching-experience-item {
        width: 100%;
    }

    .teaching-experience-item h3,
    .teaching-experience-item h4 {
        text-align: center;
    }

    #courses {
        gap: 5px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .gallery img {
        width: 100%;
    }
    .portfolio-body {
        padding: 10px;
    }

    h2#about {
        font-size: 1.5em;
    }

    p.port {
        display: none;
    }

    #container {
        display:none
    }

    #mobile-message {
        display: block;
        text-align: center;
        margin: 20px;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        font-size: 1.7em;
    }
}




